
/* Pitersis napisał: tutaj wrzucam testowe akcje - po wykonaniu jakiejś czynności przez użytkownika */
/* proponowane rodzaje akcji: użytkownik dołączył do Dj, ktoś wcisnoł Super, Dawaj lub Kiepskie */

/* test na GRAP - trzeba dostosowac zmiane warstw postaci itp. przy takim ukladzie */
/* jak jest #grab.active.selected - wyswietla sie u osoby ktora dała grab */
/* jak jest #grab.active - powinno sie wyświetlić u wszystkich - testuje  */
#grab.active:before, #grab.active:after {
    content: ' ';
    position:fixed;
    width: 325px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% - 325px);
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;     
   -webkit-animation: light 5s infinite;  
   -moz-animation: light 5s infinite;  
   -o-animation: light 5s infinite;  
   animation: light 5s infinite;    
   transform: skewX(0deg);
   -webkit-transform: skewX(0deg);
   -moz-transform: skewX(0deg);
   -ms-transform: skewX(0deg);
   -o-transform: skewX(0deg);
}

#grab.active:after {
    z-index: 0;
    background-image: url(https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/light-r.png);
}
#grab.active:before {
    z-index: 2; 
    background-image: url(https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/light-2-r.png);
}

@keyframes light, @-webkit-keyframes light, @-moz-keyframes light, @-o-keyframes light {
  0%, 10%, 100% {
   transform: skewX(0deg);
   -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  -o-transform: skewX(0deg);
  }
  25%, 35% {
   transform: skewX(-5deg);
   -webkit-transform:skewX(-5deg);
  -moz-transform:skewX(-5deg);
  -ms-transform:skewX(-5deg);
  -o-transform:skewX(-5deg);   
  }
    50%, 60% {
   transform: skewX(5deg);
   -webkit-transform:skewX(5deg);
  -moz-transform:skewX(5deg);
  -ms-transform:skewX(5deg);
  -o-transform:skewX(5deg);   
  }
}
