#room::before {
    content: ' ';
    width: 100%;
    height: 100%;    
    z-index: 2;
    position: fixed;
    background-color: rgba(255, 25, 0, 0.18);
    animation: color 20s ease infinite alternate;
    pointer-events: none;
}

@keyframes color {
  0% {
        background-color: rgba(255, 25, 0, 0.18);
  }
  20% {
    background-color: rgba(254, 255, 0, 0.18);
  }
   40% {
    background-color: rgba(0, 255, 99, 0.18);
  }  
   60% {
    background-color: rgba(0, 93, 255, 0.18);
  }      
  80% {
    background-color:rgba(255, 0, 227, 0.18);
  }  
 100% {
    background-color:rgba(33, 0, 7, 0.54);
  }  
    
}
