/*pitersis*/
.fromID-10103366 .bdg, .self.id-10103366 .avi {
    background-size: contain !important;
    background: url(http://33.media.tumblr.com/bac32a21080104317c3483ab25a70794/tumblr_inline_ni5js7X84K1smxto4.gif);
}

/*Greena*/
.id-10607990>.badge-box>i.bdg, #chat-messages .fromID-10607990 .bdg {
    background-image: url("https://vgy.me/gSTl1y.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-10607990 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/gSTl1y.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Piecin*/
.id-24135929>.badge-box>i.bdg,
#chat-messages .fromID-24135929 .bdg {
    background-image: url("https://vgy.me/hupY4B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-24135929 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/hupY4B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*MajkeldziedulotroN*/
.id-6405076>.badge-box>i.bdg,
#chat-messages .fromID-6405076 .bdg {
    background-image: url("https://vgy.me/o4ZWwF.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-6405076 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/o4ZWwF.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Mycka*/
.id-6315045>.badge-box>i.bdg,
#chat-messages .fromID-6315045 .bdg {
    background-image: url("https://vgy.me/tN38z9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-6315045 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/tN38z9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Just Ph1l1p */
.id-11594437>.badge-box>i.bdg,
#chat-messages .fromID-11594437 .bdg {
    background-image: url("https://vgy.me/jv5zmq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-11594437 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/jv5zmq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Corrup.t*/
.id-14657092>.badge-box>i.bdg,
#chat-messages .fromID-14657092 .bdg {
    background-image: url("https://vgy.me/7ffc92.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-14657092 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/7ffc92.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*JustJustMe*/
.id-16498004>.badge-box>i.bdg,
#chat-messages .fromID-16498004 .bdg {
    background-image: url("https://vgy.me/HbbjTp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-16498004 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/HbbjTp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*MysticJump*/
.id-28366137>.badge-box>i.bdg,
#chat-messages .fromID-28366137 .bdg {
    background-image: url("https://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28366137 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Serce obok nicku */
.fromID-10607990 .from .un.clickable:before,
.id-10607990 > .msg > .from:before, /*- gяєєиα -*/
.fromID-6315045 .from .un.clickable:before,
.id-6315045 > .msg > .from:before /*- Mycka1337 -*/
{ 
  content: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/heart.png") !important;
  float: left;
  margin: 0px 3px 0px 0px;
}

