/*pitersis*/
.fromID-10103366 .bdg, .self.id-10103366 .avi {
    background-size: contain !important;
    background: url("https://33.media.tumblr.com/bac32a21080104317c3483ab25a70794/tumblr_inline_ni5js7X84K1smxto4.gif");
}
.id-10103366>.badge-box>i.bdg,
#chat-messages .fromID-14870863 .bdg {
    background-image: url("https://33.media.tumblr.com/bac32a21080104317c3483ab25a70794/tumblr_inline_ni5js7X84K1smxto4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-10103366 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://33.media.tumblr.com/bac32a21080104317c3483ab25a70794/tumblr_inline_ni5js7X84K1smxto4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*Greena*/
.id-10607990>.badge-box>i.bdg, #chat-messages .fromID-10607990 .bdg {
    background-image: url("https://i.imgur.com/nKJHMRK.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-10607990 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/nKJHMRK.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Piecin*/
.id-24135929>.badge-box>i.bdg,
#chat-messages .fromID-24135929 .bdg {
    background-image: url("https://vgy.me/hupY4B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-24135929 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/hupY4B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Mycka*/
.id-6315045>.badge-box>i.bdg,
#chat-messages .fromID-6315045 .bdg {
    background-image: url("https://vgy.me/tN38z9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-6315045 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/tN38z9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Just Ph1l1p */
.id-11594437>.badge-box>i.bdg,
#chat-messages .fromID-11594437 .bdg {
    background-image: url("https://vgy.me/jv5zmq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-11594437 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/jv5zmq.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*JustJustMe*/
.id-16498004>.badge-box>i.bdg,
#chat-messages .fromID-16498004 .bdg {
    background-image: url("https://vgy.me/FZ9D38.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-16498004 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/FZ9D38.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*MysticJump*/
.id-28366137>.badge-box>i.bdg,
#chat-messages .fromID-28366137 .bdg {
    background-image: url("https://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28366137 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*The Guardian of Goatdom*/
.id-3779855>.badge-box>i.bdg,
#chat-messages .fromID-3779855 .bdg {
    background-image: url("https://i.imgur.com/4HYCFTj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-3779855 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://i.imgur.com/4HYCFTj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*PoProstuWiktor*/
.id-14870863>.badge-box>i.bdg,
#chat-messages .fromID-14870863 .bdg {
    background-image: url("https://vgy.me/sxH9Oh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-14870863 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/sxH9Oh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*puvtxr*/
.id-4872358>.badge-box>i.bdg,
#chat-messages .fromID-4872358 .bdg {
    background-image: url("https://vgy.me/pO8qsd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-4872358 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/pO8qsd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*- JarychO -*/
.id-10191773>.badge-box>i.bdg,
#chat-messages .fromID-10191773 .bdg {
    background-image: url("https://vgy.me/sWDRev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-10191773 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://vgy.me/sTPVec.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Serce obok nicku */
.fromID-6315045 .from .un.clickable:before,
.id-6315045 > .msg > .from:before /*- Mycka1337 -*/
{ 
  content: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/heart.png") !important;
  float: left;
  margin: 0px 3px 0px 0px;
}

.fromID-10607990 .from .un.clickable:before,
.id-10607990 > .msg > .from:before /*- gяєєиα - (promoter fix)*/
{ 
    content: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/heart.png") !important;
    float: left;
    margin: 0px 3px 0px 3px;
  }
