@import url(https://fonts.googleapis.com/css?family=Inconsolata&subset=latin,latin-ext);

.id-7049112>.badge-box>i.bdg,
#chat-messages .fromID-7049112 .bdg {
    background-image: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/bot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-7049112 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/bot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#chat [data-cid^="7049112-"] span.un.clickable {
  color: #ff8100 !important;
  font-family: 'Inconsolata' !important;
  font-size: 14px !important;
}

#chat .msg .text .name.id-7049112 .name,
#chat [data-cid^="7049112-"] .timestamp,
#chat .msg .text .id-7049112,
#chat .msg .text .name.id-7049112 {
  color: #ff8100 !important;
}

#chat [data-cid^="7049112-"] {
  background: rgba(255, 128, 0, 0.15) !important;
}

#chat [data-cid^="7049112-"] .text {
  font-family: 'Inconsolata' !important;
  font-size: 14px !important;
}

#chat .id-7049112 .icon {
  display: none !important;
}

#chat [data-cid^="7049112-"] .icon {
    display: none !important;
}