/* przykład podstawowych  kolorów do akceptacji lekko w niebieski :) */

#chat .cm:nth-child(2n+1) {
    background-color: #252b38;
}
#room .app-right {
    background: #111827;
}
.app-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 54px;
    background: #252b38;
    box-shadow: inset 0 -2px 0 -1px #0A0A0A;
}
#footer {
    z-index: 90;
    width: 100%;
    background: #252b38;
    -webkit-box-shadow: inset 0 2px 0 -1px #0A0A0A;
    -moz-box-shadow: inset 0 2px 0 -1px #0A0A0A;
    box-shadow: inset 0 2px 0 -1px #0A0A0A;
}
/*ikony*/
.icon-chat-host + span {
	color: #FF1200 !important;
}
.icon-chat-host {
	background: url("https://vgy.me/XfOKs7.png") !important;
}
.icon-chat-manager + span {
	color: #EADF27 !important;
}
.icon-chat-manager {
	background: url("https://vgy.me/PNxSOl.png") !important;
}
.icon-chat-bouncer + span {
	color: #FFE3BC !important;
}
.icon-chat-bouncer {
	background: url("https://vgy.me/LXfNWS.png") !important;
}
.icon-chat-dj + span {
	color: #0072FF !important;
}
.icon-chat-dj {
	background: url("https://vgy.me/SVrffe.png") !important;
}


 #vote {  
	font-size: 90%;
}
    
#woot .top:after {
	content: "SUPER";
	position: relative;
	display: inline-block;
	top: -6px;
}

#grab .top:after {
	content: "DAWAJ";
	position: relative;
	display: inline-block;
	top: -6px;
}

#meh .top:after {
	content: "KIEPSKIE";
 	position: relative;
	display: inline-block;
	top: -6px;
}
#grab .top span, #woot .top span, #meh .top span {
	display:none !important;
}
#grab .bottom, #woot .bottom , #meh .bottom {
	/* top:57px; */
}
