/* kolory pod nowe tło */
#dj-button, #vote .crowd-response, .app-header, #room .app-righ, #vote .crowd-response.disabled .bottom, #footer, #app-menu, #room .app-right, #history-button, #history-button.selected, #notification .right {
    background: #2b2322;
}
#chat .cm:nth-child(2n+1) {
    background-color:#352a29;
}
#chat-input { 
background:#352a29;
}
.media-list.history .row.selected {
    background: rgba(43,35,34,.9);
}
#chat .welcome {
    color: #8cb141;
}
.badge-box {
    background:#483a20;
}
#playlist-button {
    background: #ff8100;
    background: -moz-linear-gradient(top,#ff8100 0,#e23f0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ff8100),color-stop(100%,#e23f0));
    background: -webkit-linear-gradient(top,#ff8100 0,#e23f0 100%);
    background: -o-linear-gradient(top,#ff8100 0,#e23f0 100%);
    background: -ms-linear-gradient(top,#ff8100 0,#e23f0 100%);
    background: linear-gradient(to bottom,#ff8100 0,#e23f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8100', endColorstr='#e23f0', GradientType=0 );
}
/*ikony*/
.icon-chat-host + span {
	color: #FF1200 !important;
}
.icon-chat-host {
	background: url("https://vgy.me/XfOKs7.png") !important;
}
.icon-chat-manager + span {
	color: #EADF27 !important;
}
.icon-chat-manager {
	background: url("https://vgy.me/PNxSOl.png") !important;
}
.icon-chat-bouncer + span {
	color: #FFE3BC !important;
}
.icon-chat-bouncer {
	background: url("https://vgy.me/LXfNWS.png") !important;
}
.icon-chat-dj + span {
	color: #0072FF !important;
}
.icon-chat-dj {
	background: url("https://vgy.me/SVrffe.png") !important;
}


 #vote {  
	font-size: 90%;
}
    
#woot .top:after {
	content: "SUPER";
	position: relative;
	display: inline-block;
	top: -6px;
}

#grab .top:after {
	content: "DAWAJ";
	position: relative;
	display: inline-block;
	top: -6px;
}

#meh .top:after {
	content: "KIEPSKIE";
 	position: relative;
	display: inline-block;
	top: -6px;
}
#grab .top span, #woot .top span, #meh .top span {
	display:none !important;
}
#grab .bottom, #woot .bottom , #meh .bottom {
	/* top:57px; */
}
