/*
- file made by pitersis and Mikey Wazowsky -
- room PROHIBICJA on plug.dj -
- url: plug.dj/prohibicja - 
- w pliku jest jako taki porządek, spróbuj to zepsuć to zabiję -
*/

/* bat */

#avatars-container:before {
    content: " ";
    display: block;	
    background: url(https://media.giphy.com/media/z0JBfYdgNQSuQ/100.gif);
   background-size: cover;
    background-repeat: no-repeat;	
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 20vh;    
    left: 0;
    z-index: 999;
    animation: bat 40s infinite;
}

@-webkit-keyframes bat {
       0%   {left: -50vw;}
       40%   {left: 10vw;}
       45%   {left: 10vw;}
    100% {left:100vw;}

} 
@keyframes bat {
     0%   {left: -50vw;}
       40%   {left: 10vw;}
       45%   {left: 10vw;}
    100% {left:100vw;}


}

/*bat end */
@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

#avatars-container {
    z-index: 1 !important; /*obniżenie warstwy avatarów aby ogniska nie blokowały funkcji czatu */
}

/* ogniska - wyłączone na halloween
#avatars-container:before,
#avatars-container:after {
    position: absolute;
    z-index: -1;
    content: " ";
    display: block;
    background: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/campfire.gif") no-repeat;
    width: 150px;
    height: 300px;
} 
  */
/*
#avatars-container:after {
    bottom: 30%;
    left: -80px;
    background-size: 200px 300px;
}

#avatars-container:before {
    right: -50px;
    bottom: 30%;
    background-size: 150px 250px;
} */

/* ustawienie postaci względem tła */

#audience {
    z-index: 1;
    width: 805px;
    height: 180px;
    top: 25px;
    overflow: hidden;
}

#search-menu .menu ul i,
#search-menu-icon {
	/*Adblock fix*/
	display: inline !important;
}

#playback .background {
	visibility: hidden;
}

#playback-container {
	border: none !important;
}

.video-only #vote {
	width: auto !important;
	left: 230px !important;
	border-radius: 0;
	box-shadow: none;
}

.app-header, 
#app-menu.in-room, 
#footer, 
#search, 
#video-only-dj {
	 background: #2b2322;
}

.app-header #history-button {
	background: #2b2322;
}

.app-header #header-panel-bar .selected, 
.app-header #history-button.selected {
	background: #120F0E;
}

#footer .chevron:before, 
#footer .chevron:after {
	background: #8CB141 !important;
}

#footer .back {
	background: #1F1918 !important;
}

/*animacja "Powrót do społeczności"
 http://ianlunn.github.io/Hover/ */

 #footer .back {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#footer .back:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #009cdd;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#footer .back:hover, 
#footer .back:focus, 
#footer .back:active {
  color: white;
}

#footer .back:hover:before, 
#footer .back:focus:before, 
#footer .back:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#footer-user .buttons .button:hover, 
#video-only-dj:hover {
	background: linear-gradient(hsl(30,100%,40%), hsl(30,100%,35%)) !important;
}

#footer-user .buttons .button.inventory:hover .thumb, 
#video-only-dj:hover .thumb {
	border-color: #8cb141 !important;
	box-shadow: 0 0 7px #8cb141 !important;
}

#footer-user .info {
    background: #120F0E;
}

#footer-user .info .points .pp {
	color: #8cb141;
}

#footer #playlist-meta .bar-button {
	width: calc(100% - 53px) !important;
}

.inventory.button .background {
	visibility: hidden;
}

#playlist-button {
	background: #ff8100;
}

#playlist-import, 
#playlist-create {
	 background: #211B1A;
}

#playlist-import:hover, 
#playlist-create:hover {
	background: #120F0E;
}

#user-menu, 
#room-settings-menu, 
#playlist-menu {
	background: #352a29;
}

#user-view, 
#dashboard, 
#room-settings, 
#media-panel, 
#playlist-panel, 
#history-panel {
	background: #2b2322 !important;
}

#user-menu .item:not(.selected), 
#room-settings-menu .item:not(.selected) {
	color: hsl(210,10%,60%);
}

#user-menu .item:not(.selected):hover, 
#room-settings-menu .item:not(.selected):hover {
	color: hsl(210,10%,80%);
}

#user-menu .item .count, 
#room-settings-menu .item .count {
	color: #eee; /* Fix for hover color changing count color by inheritance */
}

#user-menu .item:hover, 
#room-settings-menu .item:hover {
	background: hsla(15,22%,7%,.6);
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,.1);
}

#user-menu .item:hover i, 
#room-settings-menu .item:hover i {
	filter: brightness(200%);
}

#user-menu .item.selected, 
#room-settings-menu .item.selected {
	background: hsl(15,22%,7%);
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,.2);
}

#room-settings-menu .title {
	color: #eee;
}

#room-settings .general-settings button, 
#room-settings .general-settings .option.enabled button.off {
	background: hsl(15,22%,10%) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}

#room-settings .general-settings button:hover, 
#room-settings .general-settings .option.enabled button.off:hover {
	background: hsl(80,63%,20%) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}

#room-settings .general-settings button.off, 
#room-settings .general-settings .option.enabled button.on {
	background: hsl(80,63%,40%) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}

#room-settings .general-settings .description .value {
	overflow: hidden !important; /*chowa link do room settings, wyłączając scrolla w opisie.*/
}

#room-settings .general-settings .input-background {
    background: hsla(22,17%,10%,.7);
}

#the-user-profile .notifications.section .row {
	border-radius: 10px;
	background: #
