/*Greena*/
.id-10607990 > .badge-box > i.bdg,
#chat-messages .fromID-10607990 .bdg {
  background-image: url("https://i.imgur.com/MBEpYld.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10607990 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/MBEpYld.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Frędzelek*/
.id-11025235 > .badge-box > i.bdg,
#chat-messages .fromID-11025235  .bdg {
  background-image: url("https://vgy.me/fbvnZb.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-11025235 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://vgy.me/fbvnZb.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Amoniak*/
.id-10542387 > .badge-box > i.bdg,
#chat-messages .fromID-10542387  .bdg {
  background-image: url("https://i.imgur.com/xVIbwhq.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10542387 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/xVIbwhq.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Pi3cix*/
.id-11787585 > .badge-box > i.bdg,
#chat-messages .fromID-11787585  .bdg {
  background-image: url("https://media.giphy.com/media/7kn27lnYSAE9O/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-11787585 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://media.giphy.com/media/7kn27lnYSAE9O/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*thepolishcake */
.id-11594437 > .badge-box > i.bdg,
#chat-messages .fromID-11594437 .bdg {
  background-image: url("https://49.media.tumblr.com/17ed27561568013b1a5819d6f17424a4/tumblr_ntjcztuQha1u9meijo1_500.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-11594437 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://49.media.tumblr.com/17ed27561568013b1a5819d6f17424a4/tumblr_ntjcztuQha1u9meijo1_500.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Vampiree */
.id-13694300 > .badge-box > i.bdg,
#chat-messages .fromID-13694300 .bdg {
  background-image: url("http://4.bp.blogspot.com/-N8dZFPNHzVE/VYCuR58CktI/AAAAAAAAAFE/gYS9ArmRgQs/s1600/225399_xh8qte0l9z2rdia3w1b4ypfm6kojv7nsgu5c.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-13694300 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://4.bp.blogspot.com/-N8dZFPNHzVE/VYCuR58CktI/AAAAAAAAAFE/gYS9ArmRgQs/s1600/225399_xh8qte0l9z2rdia3w1b4ypfm6kojv7nsgu5c.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*Cebularz2PL */
.id-16624982 > .badge-box > i.bdg,
#chat-messages .fromID-16624982 .bdg {
  background-image: url("http://img.wiocha.pl/images/3/0/30a435a6b0fb90b7b92ca6964b7c0a77.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-16624982 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://img.wiocha.pl/images/3/0/30a435a6b0fb90b7b92ca6964b7c0a77.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*maczka*/
.id-13692690 > .badge-box > i.bdg,
#chat-messages .fromID-13692690 .bdg {
  background-image: url("https://media.giphy.com/media/SRRQQmNtKf8IM/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-13692690 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://media.giphy.com/media/SRRQQmNtKf8IM/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*YataMen*/
.id-5184589 > .badge-box > i.bdg,
#chat-messages .fromID-5184589 .bdg {
  background-image: url("https://media.giphy.com/media/3CindbMfWGjIs/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-5184589 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://media.giphy.com/media/3CindbMfWGjIs/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
